@import '_vars'

@media (min-width: 992px)
    @keyframes spin 
        from  
            transform: rotate(360deg)
        to  
            transform: rotate(0deg)

    img.pizza
       content: url($Pizza)
       width: 400px
       height: 400px
       animation: spin 100000ms  infinite
    
    .container-pizza
        text-align: center
        margin-top: 23%
        margin-bottom: 19%

@media (min-width: 768px) and (max-width: 991.98px)
    @keyframes spin 
        from  
            transform: rotate(360deg)
        to  
            transform: rotate(0deg)

    img.pizza
       content: url($Pizza)
       width: 300px
       height: 300px
       animation: spin 100000ms  infinite
    
    .container-pizza
        text-align: center
        background: url($imagebkg)
    

@media (max-width: 767px) and (min-width: 320px)
    @keyframes spin 
        from  
            transform: rotate(360deg)
        to  
            transform: rotate(0deg)
 
    img.pizza
       content: url($Pizza)
       width: 200px
       height: 200px
       margin-top: 5%
       position:relative
       animation: spin 100000ms  infinite
    
    .container-pizza
        text-align: center
    