<div class="row">
    <app-pizza class="col-sm-12 col-md-12 col-lg-6 col-xl-6 content-pizza" ></app-pizza>
    <app-productos class="col-sm-12 col-md-12 col-lg-6 col-xl-6 content-restaurantes"></app-productos>
    <footer class="row content-footer">
        <div class="social col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
            <a>
                <img class="logo-fb"/>
            </a>
            <a>
                <img class="logo-ig"/>
            </a>
        </div>

        <div class=" col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 contianer-logo-footer">
            <img class="logo-footer"/>
        </div>
    </footer>
</div>