<div class="row">
     <app-pizza class="col-sm-12 col-md-12 col-lg-6 col-xl-6 content-pizza" ></app-pizza> 
    <app-list-restaurant class="col-sm-12 col-md-12 col-lg-6 col-xl-6 content-list-restaurant"></app-list-restaurant>
    <footer class="row content-footer">
        <div class="col-3 col-sm-6 col-md-6 col-lg-2 col-xl-2 social ">
            <a>
                <img class="logo-fb"/>
            </a>
            <a>
                <img class="logo-ig"/>
            </a>
        </div>

        <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 container-logo-footer">
            <img class="logo-footer"/>
        </div>
    </footer>
</div>
