<div class="container-login">

    <img class="logo-best-pizza"/>

    <h2>Bienvenido </h2>
    <span>Las mejores pizzas del pais</span>

    <form>
        <br>
        <div class="input-group flex-nowrap">
            <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="addon-wrapping">
            <span class="input-group-text"><img class="icon-user"/></span>
        </div>
        <br>
        <div class="input-group flex-nowrap">
            <input type="password" class="form-control" placeholder="password" aria-label="password" aria-describedby="addon-wrapping">
            <span class="input-group-text"><img class="icon-pass"/></span>
        </div>
        <br>
            <span>¿Olvidastes tu contraseña?</span>
        <br>
            <button type="button" class="btn btn-warning btn-login">Iniciar sesión</button>
    </form>

</div>